body {
  background-color: #eff4f9;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.shItem {
  width: auto;
  padding: 7px;
  display: inline-block;
  position: relative;
  margin: 0px 10px 10px 0px;
  border-radius: 4px;
}

.shItem:last-child {
  margin-right: 0px !important;
}

.shItem .close {
  position: absolute;
  top: -12px;
  right: -7px;
}

.alert {
  max-width: 300px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.cardContent {
  margin-bottom: 20px;
}

.card {
  position: relative;
}

.card-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-img-top {
  max-height: 330px;
}

.btnFav {
  width: 42px !important;
  height: 30px !important;
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-heart-fill {
  display: none;
}

.btnFav.added .bi-heart {
  display: none;
}

.btnFav.added .bi-heart-fill {
  display: block;
}
